

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bordered {
    border: 1px solid gray;
    border-radius: 1em;
    padding: 1em;
    margin: 2em;

}

.game > .option {
    /* border: 2px solid white; */
    box-sizing: border-box;
}
.correct {
    border: 2px solid lightgreen;
}
